@import '../scss/index';

#footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 35px;
  -webkit-font-smoothing: subpixel-antialiased;

  @media print, screen and (max-height: $screen-md) {
    top: 620px;
  }

  @media print, screen and (max-width: $screen-lg) {
    float: none;
    position: static;
    width: auto;
  }
}

