.section {
  width: 500px;
  float: right;
  padding-bottom: 50px;

  tt .chinese {
    font-family: 'Noto Sans TC', sans;
  }
}

@media print, screen and (max-width: 960px) {
  .section {
    float: none;
    position: static;
    width: auto;
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }
}
