.section {
  width: 500px;
  float: right;
  padding-bottom: 50px;

  tt .chinese {
    font-family: 'Noto Sans TC', sans;
  }
}

@media print, screen and (max-width: 960px) {
  .section {
    float: none;
    position: static;
    width: auto;
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-10px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-10px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-10px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 0.5s;
  -moz-animation: fadeIn ease-in 0.5s;
  animation: fadeIn ease-in 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
