@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-10px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-10px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-10px, 0);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 0.5s;
  -moz-animation: fadeIn ease-in 0.5s;
  animation: fadeIn ease-in 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
