@import './scss/index';

#wrapper {
  position: relative;
  width: 860px;
  margin: 0 auto;

  /* overwrite flag-select */
  .flag-select {
    position: fixed;
    top: 0;
    left: 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    .arrow-down {
      display: none;
      color: #fff;
    }
  }
}

@media print, screen and (max-width: $screen-lg) {
  div#wrapper {
    width: auto;
    margin: 0;
  }
}
  